<div class="col-md-04 col-md-offset-4">
  <h2>Add a new discussion</he>

  <hr>
  <%= form_for @group do |f|%>

  Title
  <%= f.text_field :title%>
  <br>
  Content
  <br>
  <%= f.text_area :description%>
  <br>

  <%= f.submit "Submit", :disable_with => 'Submiting...'%>
  <% end %>
</div>
