<div class="col-md-12">

  <h2 class="text-center"> My Discussion </h2>

  <table class="table">
    <thead>
      <tr>
        <th> <span class="glyphicon glyphicon-asterisk"> </th>
        <th> Title </th>
        <th> Description </th>
        <th> Post Count </th>
        <th> Last Update </th>
      </tr>
    </thead>
        <%= render :partial => "group_item", :collection => groups, :as => :group %>
  </table>
</div>
